@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* Configura la fuente predeterminada */
  font-family: 'Kulim Park';
  line-height: 1.5;
  font-weight: 400;

  /* Configura otros estilos globales */
  color-scheme: light dark;
  color: #000000;
  background-color: #ECFDF5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
